@import "tailwindcss";

@layer theme {
  :root {
    --font-sans: "Pretendard", system-ui, sans-serif;
    --color-brand-orange: #FF8A00;
    --color-brand-red: #FF0000;
  }
}

@layer base {
  *, ::after, ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    overflow-x: hidden;
  }
}